<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Name That Tube</title>
	<meta charset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Russo+One|Audiowide' rel='stylesheet' type='text/css'>


<style>

@import url(https://fonts.googleapis.com/css?family=Roboto);


body {
	/*background: url(asset_path('statictv.mp4')) no-repeat;
	-webkit-background-size: cover;
	overflow: hidden;
	height:100%;
	width:100%;*/
	background-color:#fff;
}

img {
	position: relative;
	left: 2%;
}


h2 {
	color: #777777;
	font-family:'Roboto' sans-serif;
	position: relative;
	left: -3%;
}

.sessionH3 a {
	color:#777777;
}

h3 a{
	position:fixed;
	top: 30px;
	right:30px;
	color: #777777;

}

a:hover{
	color: #cd201f;
 	text-decoration: none;
 	-webkit-transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-ms-transition: color 0.5s linear;
	-o-transition: color 0.5s linear;
	transition: color 0.5s linear;

}

.errorRed h3 {
	color: #cd201f;
}

/*video#bgvid {
	min-width: 100%;
	min-height:100%;
	width:auto;
	height:auto;
	margin:auto;
	position:absolute;


	
}
*/

.container {
	/*height: 100%;
	width:100%;*/
	position: absolute;
	top:7em;
	left:10%;
}

.form-group {
	position: relative;
	left: -3%;
}


.btn {
	background-color: #cd201f;
	border-radius: 0;
	color: #fff;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.btn:hover {
	background-color: #777777;
}

@media screen and (max-width:750px) {

	body {
		height: 100%;
/*		overflow-x:auto 50%;*/
		position:static;
	}

	.container{
		position: absolute;
		height:auto;
		top:5em;

	}

	.sessionH3 a{
		position: relative;
		bottom: 0;
		left:-1.5%;
	}

}

@media screen and (max-device-width: 480px){

	.container{
		height:100px;
		width:250px;
		position: absolute;
		height:auto;
		top:5em;

	}

	.container img{
		height:100px;
		width:250px;
	}

	.sessionH3 a{
		position: relative;
		bottom: 0;
		left:-1.5%;
	}

	
	
}



</style>

<script type="text/javascript">
	
// 	$(function(){

//  		$('body').css('display', 'none');
// 		$('body').fadeIn(1000);
		



// 		$('#play').click(function(){
// 			event.preventDefault();
			

// 			$('body').fadeOut(1000, newpage);


// 		})

// 		function newpage() {
// 			window.location = 'categories'

// 		}

// 	});
// </script>

</head>


<body>

<!-- <video id='bgvid' class='bgvid' autoplay loop muted >


<source src=" /assets/statictv.mp4" type="video/mp4" />
<source src=" /assets/statictv.ogv" type="video/ogg" />
<source src=" /assets/statictv.webm" type="video/webm" />



</video> -->




<div class='container'>
<div class="row">
<center>


<img src = 'http://i.imgur.com/ixo5AwI.png' height="200" width="500" />


<div class = 'errorRed'>
<% if @message %>
<h3><%= @message %></h3>
<% end %>
</div>

<br>
<br>




<h2>Login To Play</h2>

<div class = 'form-group'>
<%= form_tag '/login', :class => 'form-inline' do %>
<%= text_field_tag :user_name, params[:user_name], class: 'form-control', :placeholder =>  'USERNAME', autofocus: true %>
<br>
<br>
<%= password_field_tag :password, params[:password], class: 'form-control', :placeholder => 'PASSWORD', autofocus: true %>
<br>
<br>
<%= submit_tag "Let's Play!", class: 'btn btn-default btn-lg btn-submit', id: 'play' %>
<br>
<br>
<h3 class='sessionH3'><%= link_to 'Sign Up', {:controller => 'players', :action => 'new'}%></h3>
<% end %>
</div>
</div>
</div>


</center>
</body>


</html>